---
title: Portfolio Sagar Satam
---

<div class="menu-wrapper">
  <div class="top-menu">
    <nav class="menu" id="menu-scroll">
      <h1 class="logo"><a href="/">Sagar Satam logo</a></h1>
      <div id="menu-center">
        <ul class="menu-links">
          <li><a href="#home" id="homelink" class="active">HOME</a></li>
          <li><a href="#my-work" id="my-worklink">MY WORK</a></li>
          <li><a href="#about-me" id="about-melink">ABOUT ME</a></li>
          <li><a href="#how-i-work" id="how-i-worklink">HOW I WORK</a></li>
          <li><a href="#my-thinking" id="my-thinkinglink">MY THINKING</a></li>
          <li><a href="#contact-me" id="contact-melink">CONTACT ME</a></li>
        </ul>
      </div>
    </nav>
    <ul class="social-media">
      <li><a href="" class="linkedin">Linkedin</a></li>
      <li><a href="" class="instagram">Instagram</a></li>
      <li><a href="" class="pinterest">Pinterest</a></li>
      <li><a href="" class="behance">Behance</a></li>
    </ul>
  </div>
</div>

<div class="sections">
  <section class="wrapper" id="home">
    <div class="container">
      <div class="content">
        <h1>Hello.<br/>I'm Sagar Satam.</h1>
        <h2>I’m a <span>Product & Service</span> Designer who loves </br>to develop innovative products and joyful experiences.</h2>
        <div>
          <a href="" class="arrow-down-wrapper">
            <div class="arrow-down icon-scroll"></div>
            <img src="/images/icon-arrow-down.svg">
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="wrapper" id="my-work">
    <div class="container">
      <h1>MY <br/>WORK.</h1>
      <h3>Collection of my work from product and service design.</h3>
      <ul class="my-work-filters">
        <li><a href="" class="rounded-button">ALL</a></li>
        <li><a href="" class="rounded-button">PRODUCT DESIGN</a></li>
        <li><a href="" class="rounded-button">SERVICE DESIGN</a></li>
      </ul>

      <div class="my-work-projects">
        <ul class="project-row">
          <li class="box">
            <a href="/projects/blinky-clyde-inky-pinky.html" class="thumb-style">
              <img src="/images/thumb-pacman.png" alt="pacman">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Blinky Clyde Inky Pinky</h1>
              </div>
            </a>
          </li>
          <li class="box">
            <a href="" class="thumb-style">
              <img src="https://unsplash.it/400/400/?random" alt="">
              <div class="box-hover">
                <span>SERVICE DESIGN</span>
                <h1>Save</h1>
              </div>
            </a>
          </li>
          <li class="box">
            <a href="" class="thumb-style">
              <img src="https://unsplash.it/400/400/?random" alt="">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Persono</h1>
              </div>
            </a>
          </li>
        </ul>
        
        <ul class="project-row">
          <li class="box">
            <a href="" class="thumb-style">
              <img src="https://unsplash.it/400/400/?random" alt="">
              <div class="box-hover">
                <span>SERVICE DESIGN</span>
                <h1>Kin</h1>
              </div>
            </a>
          </li>
          <li class="box">
            <a href="" class="thumb-style">
              <img src="https://unsplash.it/400/400/?random" alt="">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Mumbai Street Furniture</h1>
              </div>
            </a>
          </li>
          <li class="box">
            <a href="" class="thumb-style">
              <img src="https://unsplash.it/400/400/?random" alt="">
              <div class="box-hover">
                <span>SERVICE DESIGN</span>
                <h1>Terme Di Levico</h1>
              </div>
            </a>
          </li>
        </ul>

        <ul class="project-row">
          <li class="box">
            <a href="" class="thumb-style">
              <img src="https://unsplash.it/400/400/?random" alt="">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Hot n Cold</h1>
              </div>
            </a>
          </li>
          <li class="box">
            <a href="" class="thumb-style">
              <img src="https://unsplash.it/400/400/?random" alt="">
              <div class="box-hover">
                <span>SERVICE DESIGN</span>
                <h1>Talking Heads</h1>
              </div>
            </a>
          </li>
          <li class="box">
            <a href="" class="thumb-style">
              <img src="https://unsplash.it/400/400/?random" alt="">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Cadbury Exhibition Space</h1>
              </div>
            </a>
          </li>
        </ul>


        <ul class="project-row">
          <li class="box">
            <a href="" class="thumb-style">
              <img src="https://unsplash.it/400/400/?random" alt="">
              <div class="box-hover">
                <span>SERVICE DESIGN</span>
                <h1>Philips Brand Strategy</h1>
              </div>
            </a>
          </li>
          <li class="box">
            <a href="" class="thumb-style">
              <img src="https://unsplash.it/400/400/?random" alt="">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Call & Response</h1>
              </div>
            </a>
          </li>
          <li class="box">
            <a href="" class="thumb-style">
              <img src="https://unsplash.it/400/400/?random" alt="">
              <div class="box-hover">
                <span>SERVICE DESIGN</span>
                <h1>Research Workshop on Museum</h1>
              </div>
            </a>
          </li>
        </ul>

        <div class="clear"></div>
      </div>
      <a href="#" class="show-more" id="loadMore">Show more \/</a>
    </div>
  </section>

  <section class="wrapper" id="about-me">
    <div class="container">
      <h1>ABOUT <br/>ME.</h1>
      <h3>Busy lifestyles mean we are constantly on the go, and this takes away fun from our everyday lives. Thus, when I design I like to add fun to functional because that is how life should be. I love designing beautiful and functional product designs, as I believe that living with beautifully designed products can bring us incredible joy, especially when they are a part of our daily lives. I am looking to make an impact.</h3>
      <img src="/images/about-me-sagar.png" alt="about me sagar" title="About me - Sagar">
      <h2>AWARDS</h2>
      <div class="awards-wrapper">
        <ul>
          <li><img src="/images/awards-adesign.png" alt="awards adesign"></li>
          <li><img src="/images/awards-idesign.png" alt="awards idesign"></li>
          <li><img src="/images/awards-raffles.png" alt="awards raffles"></li>
        </ul>
        <ul>
          <li><img src="/images/awards-poli.png" alt="awards politecnico"></li>
          <li><img src="/images/awards-designomics.png" alt="awards designomics"></li>
          <li><img src="/images/awards-pune.png" alt="awards pune"></li>
        </ul>
        <ul>
          <li><img src="/images/awards-uni-qld.png" alt="awards the university of queensland"></li>
          <li><img src="/images/awards-designomics13.png" alt="awards designomics13"></li>
        </ul>
      </div>
      <a href="/images/sagar-satam-cv.pdf" class="rounded-button" target="_blank">RESUME</a>
    </div>
  </section>

  <section class="wrapper" id="how-i-work">
    <div class="container">
      <h1>HOW I <br/>WORK.</h1>
      <h3>The following is my design process. The tools and methods use depend on the requirements of the project.</h3>
    </div>
    <div class="how-i-work-wrapper">
      <div class="how-i-work-steps">
        <section class="process-step first">
          <article>
            <ul>
              <li class="process-method">
                <img src="/images/icon-co-create.svg" alt="co-create">
                <p>CO-CREATE<br/>PROBLEM<br/>DEFINITION</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-stakeholder.svg" alt="workshops">
                <p>STAKEHOLDER <br/>WORKSHOPS</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-trends.svg" alt="trends">
                <p>TRENDS <br/>INSPIRATIONS</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-benchmarking.svg" alt="benchmarking">
                <p>BENCHMARKING</p>
              </li>
            </ul>
            <div class="step">
              <span class="first-ball">RESEARCH<br/>& EMPATHISE</span>
            </div>
            <ul>
              <li class="process-method">
                <img src="/images/icon-observations.svg" alt="observations">
                <p>USER BEHAVIOUR<br/>OBSERVATIONS</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-system-mapping.svg" alt="systems mapping">
                <p>SYSTEMS<br/>STAKEHOLDER<br/>MAPPING</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-interviews.svg" alt="interviews">
                <p>INTERVIEWS <br/> SURVEYS</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-empathy-mapping.svg" alt="empathy mapping">
                <p>EMPATHY <br/>MAPPING</p>
              </li>
            </ul>
            <div class="clear"></div>
          </article>
        </section>

        <section class="process-step second">
          <article>
            <ul>
              <li class="process-method">
                <img src="/images/icon-personas.svg" alt="personas">
                <p>PERSONAS</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-user-journey.svg" alt="user journey">
                <p>USER JOURNEYS</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-touchpoints.svg" alt="touchpoints">
                <p>INTERACTIONS<br/>TOUCHPOINTS</p>
              </li>
            </ul>
            <div class="step">
              <span class="second-ball">ANALYSE<br/>& DEFINE</span>
            </div>
            <ul>
              <li class="process-method">
                <img src="/images/icon-user-needs.svg" alt="user needs">
                <p>USER NEEDS</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-painpoint.svg" alt="pain point">
                <p>PAIN POINTS</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-insights.svg" alt="insights">
                <p>INSIGHTS</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-opportunities.svg">
                <p>OPPORTUNITIES</p>
              </li>
            </ul>
            <div class="clear"></div>
          </article>
        </section>
        
        <section class="process-step third">
          <article>
            <ul>
              <li class="process-method">
                <img src="/images/icon-user-experience.svg" alt="user experience">
                <p>USER EXPERIENCE</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-co-designing.svg" alt="co-designing">
                <p>CO-DESIGNING</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-brainstorming.svg" alt="brainstorming">
                <p>CONCEPTUALISATION<br/>BRAINSTORMING</p>
              </li>
            </ul>
            <div class="step">
              <span class="third-ball">IDEATE</span>
            </div>
            <ul>
              <li class="process-method">
                <img src="/images/icon-triangle-ideas.svg" alt="triangle mapping ideas">
                <p>TRIANGLE<br/>MAPPING IDEAS</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-cross-ideas.svg" alt="cross mapping ideas">
                <p>CROSS<br/>MAPPING IDEAS</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-touchpoint-design.svg" alt="touchpoint design">
                <p>TOUCHPOINT<br/>DESIGN</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-business-model.svg" alt="business model">
                <p>BUSINESS MODEL<br/>STRATEGY</p>
              </li>
            </ul>
            <div class="clear"></div>
          </article>
        </section>

        <section class="process-step forth">
          <article>
            <ul>
              <li class="process-method">
                <img src="/images/icon-touchpoint-development.svg" alt="touchpoint development">
                <p>TOUCHPOINT DESIGN<br/>DEVELOPMENT</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-consolidation.svg" alt="consolidation">
                <p>CONSOLIDATION</p>
              </li>
            </ul>
            <div class="step">
              <span class="forth-ball">PROTOTYPE<br/>& REFINE</span>
            </div>
            <ul>
              <li class="process-method">
                <img src="/images/icon-role-playing.svg" alt="role playing">
                <p>ROLE PLAYING<br/>SCENARIOS</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-feedback.svg" alt="gathering feedbacks">
                <p>GATHERING<br/>FEEDBACKS</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-testing.svg" alt="testing">
                <p>TESTING</p>
              </li>
            </ul>
            <div class="clear"></div>
          </article>
        </section>

        <section class="process-step fifth">
          <article>
            <ul>
              <li class="process-method">
                <img src="/images/icon-implementation.svg">
                <p>IMPLEMENTATION<br/>PLAN</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-storyboards.svg" alt="storyboards">
                <p>STORYBOARDS</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-blueprinting.svg" alt="blueprinting">
                <p>SERVICE<br/>BLUEPRINTING</p>
              </li>
            </ul>
            <div class="step">
              <span class="fifth-ball">DELIVER</span>
            </div>
            <ul>
              <li class="process-method">
                <img src="/images/icon-feedback.svg" alt="collecting feedback">
                <p>COLLECTING<br/>FEEDBACK</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-further-refining.svg" alt="further refining">
                <p>FURTHER<br/>REFINING</p>
              </li>
              <li class="process-method">
                <img src="/images/icon-goal-setting.svg" alt="goal setting">
                <p>GOAL SETTING<br/>SHORT, MID, LONG</p>
              </li>
            </ul>
            <div class="clear"></div>
          </article>
        </section>
      </div>
    </div>
  </section> 

  <section class="wrapper" id="my-thinking">
    <div class="container">
      <h1>MY <br/>THINKING.</h1>
      <h3>My opinions and views related to design. My opinions and views related to design. My opinions and views related to design.</h3>
      <div class="posts-wrapper">
        <ul>
          <li class="post-thumb">
            <a href="" class="post-thumb-img">
              <img src="https://unsplash.it/800/800/?random" alt="">
              <div class="img-hover"></div>
            </a>
            <div class="post-thumb-description">
              <span>VIEWPOINT</span>
              <h1>SERVICE DESIGN & POST-ITS</h1>
              <small>16th January 2006</small>
              <p>Nothing says creativity better than a crazy colourful mess of Post-its smeared onto the wall rather than a bunch of people with suits sitting and talking around the table.</p>
              <a href="" class="rounded-button">READ MORE</a>
            </div>
          </li>
          <li class="post-thumb">
            <a href="" class="post-thumb-img">
              <img src="https://unsplash.it/800/800/?random" alt="">
              <div class="img-hover"></div>
            </a>
            <div class="post-thumb-description">
              <span>VIEWPOINT</span>
              <h1>SERVICE DESIGN & POST-ITS</h1>
              <small>16th January 2006</small>
              <p>Nothing says creativity better than a crazy colourful mess of Post-its smeared onto the wall rather than a bunch of people with suits sitting and talking around the table.</p>
              <a href="" class="rounded-button">READ MORE</a>
            </div>
          </li>
          <li class="post-thumb">
            <a href="" class="post-thumb-img" class="post-thumb-img">
              <img src="https://unsplash.it/800/800/?random" alt="">
              <div class="img-hover"></div>
            </a>
            <div class="post-thumb-description">
              <span>VIEWPOINT</span>
              <h1>SERVICE DESIGN & POST-ITS</h1>
              <small>16th January 2006</small>
              <p>Nothing says creativity better than a crazy colourful mess of Post-its smeared onto the wall rather than a bunch of people with suits sitting and talking around the table.</p>
              <a href="" class="rounded-button">READ MORE</a>
            </div>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      <a href="" class="show-more">Show more \/</a>
    </div>
  </section>  

  <section class="wrapper" id="contact-me">
    <div class="container">
      <h1>CONTACT <br/>ME.</h1>
      <h3>If you want to contact me about anything, feel free to get in touch below!</h3>

      <div id="contact-form">
        <div id="wufoo-z14rg7450wf9ey5">
Fill out my <a href="https://sagarsatam.wufoo.com/forms/z14rg7450wf9ey5">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">HTML Forms powered by <a href="http://www.wufoo.com">Wufoo</a>.</div>
<script type="text/javascript">var z14rg7450wf9ey5;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'sagarsatam',
'formHash':'z14rg7450wf9ey5',
'autoResize':true,
'height':'517',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z14rg7450wf9ey5 = new WufooForm();z14rg7450wf9ey5.initialize(options);z14rg7450wf9ey5.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

      </div>
    </div>

    <p class="totop"> 
      <a href="#top">Back to top</a> 
    </p>
  </section>
</div>  

<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 340" class="middleman-logo" aria-labelledby="middleman-logo__title" role="img">
  <title id="middleman-logo__title">Middleman</title>
  <path class="middleman-logo__top-left-bar" fill-opacity=".45" d="M0 40L200 0v30L0 60z"/>
  <path class="middleman-logo__top-right-bar" fill="#fff" d="M200 0l200 40v20L200 30z"/>
  <path class="middleman-logo__left-m" fill-opacity=".45" d="M0 78v184l45 5V152l45 83 47-83v129l53 7V52l-57 8-43 83-43-70z"/>
  <path class="middleman-logo__right-m" fill="#fff" d="M400 78v184l-45 5V152l-45 83-47-83v129l-53 7V52l57 8 43 83 43-70z"/>
  <path class="middleman-logo__bottom-left-bar" fill-opacity=".45" d="M0 300l200 40v-30L0 280z"/>
  <path class="middleman-logo__bottom-right-bar" fill="#fff" d="M200 340l200-40v-20l-200 30z"/>
</svg>

<h1>
  Middleman is Running
</h1>

<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %> -->
