---
layout: project
title: Mumbai Street Furniture | Portfolio Sagar
---

<div class="parallax bg-street-furniture"></div>

<div class="project-wrapper">
	<div class="project-content">
		<header>
			<span>PRODUCT DESIGN</span>
			<h1>MUMBAI STREET FURNITURE</h1>
			<h3>A family of street furniture that makes the streets of Mumbai (India) feel nice and inviting for the public. Providing a safe place for people to walk, rest and experience community living through street comfort plus convenience.</h3>
		</header>
		<section>
			<span class="project-step-number">01</span>
			<h2>CHALLENGE</h2>
			<p>People have the perception that the street of Mumbai, India are foul smelling, dirty, unattractive and unsafe. The idea was to design a family of street furniture elements that were functional, aesthetically pleasing and true to Indian sensibilities, thus overall resulting in improving the quality & safety of street life.
			<br/><br/>
			<strong>Year:</strong> 2014
			<br/>
			<strong>Project type:</strong> Design of furniture for the outdoor space
			<br/>
			<strong>Team members:</strong> Individual project</p>
		</section>
		<section>
			<span class="project-step-number">02</span>
			<h2>PROCESS</h2>
			<p>Qualitative research was carried out by observing and interviewing people living in different cities. This activity was carried out by me personally visiting different cities such as Rome, Bologna, Florence & Milan in Italy. While at the same time cities of Bangalore, Pune & Mumbai were also explored to identify the indian design environment and sensibilities. This research allowed me to determine certain design influences and inspirations which lead to consolidating an overall design language. Core design aims for each individual elements were then established and the different street elements were designed accordingly. 
			<br/><br/>
			<strong>My role:</strong> user behaviour observation & interviews, conceptualisation, sketching of ideas, 3D modelling & technical drafting, final 3D rendering of the product.</p>
			<img src="https://unsplash.it/1200/800/?random">
			<img src="https://unsplash.it/1200/800/?random">
			<img src="https://unsplash.it/1200/800/?random">
			<!-- <a href="">Show More</a> -->
		</section>
		<section>
			<span class="project-step-number">03</span>
			<h2>OUTCOME</h2>
			<p>A Bench which provided a place for people to sit, relax and rest. It had a modular assembly and was designed in a way that prevented the collection of rainwater. 
			Set of Dustbins that not only allowed efficient waste collection & management but was also easy to clean and maintain. 
			An aesthetically pleasing Street Lamp inspired by yoga forms which had ambient & focused lighting thus promoting street safety at night.
			A Bicycle Stand designed with a clever built-in locking system to reduce theft and encourage bicycle usage in the city. 
			Seating & waiting areas of the Bus Stops were designed with the main aim of ensuring an efficient flow of people at all times.Interactive screens ensured people remained entertained while waiting. Finally the design was made inclusive by designing disabled friendly areas.

			<br/><br/>
			<strong>Awards:</strong> Raffles International Design Award 2014, A’Design Award 2016
			</p>
			<img src="https://unsplash.it/1200/800/?random">
			<img src="https://unsplash.it/1200/800/?random">
			<img src="https://unsplash.it/1200/800/?random">
		</section>
	</div>
</div>

<div class="other-projects">
	<section class="other-projects-content">
		<h1>OTHER PROJECTS</h1>
		<ul class="project-row">
          <li class="box">
            <a href="" class="thumb-style">
              <img src="https://unsplash.it/400/400/?random" alt="">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Blinky Clyde Inky Pinky</h1>
              </div>
            </a>
          </li>
          <li class="box">
            <a href="" class="thumb-style">
              <img src="https://unsplash.it/400/400/?random" alt="">
              <div class="box-hover">
                <span>SERVICE DESIGN</span>
                <h1>Save</h1>
              </div>
            </a>
          </li>
          <li class="box">
            <a href="" class="thumb-style">
              <img src="https://unsplash.it/400/400/?random" alt="">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Persono</h1>
              </div>
            </a>
          </li>
        </ul>
        <div class="clear"></div>
	</section> 
</div>