@font-face {
    font-family: Nexa;
    src: url(/typography/nexa-bold.otf);
    font-weight: 400;
}

@font-face {
    font-family: Nexa Light;
    src: url(/typography/nexa-light.otf);
    font-weight: 200;
}